Sample app for [FASTGenomics](https://www.fastgenomics.org).
This calculation uses a python version of Combat for batch correction of gene expression matrices. 

### Results
A total of {{ results.num_batches }} batches was observed. Before correction, the average distance between all batch cluster centers was {{ results.ctr_dist_before }}. After batch correction, this distance was reduced to {{  results.ctr_dist_after  }}.

### Details
We used no random numbers but set the random seed to {{ parameters.random_seed}}.
No additional covariates were used for batch correction. For a description of the original method, see
   Johnson WE, Rabinovic A, Li C (2007). Adjusting batch effects in microarray expression data using Empirical Bayes methods. Biostatistics 8:118-127.
For the python implementation used, see
    https://github.com/brentp/combat.py

### Parameters
{% for param, value in parameters.items() -%}
 - {{param}}: "{{value}}"
{% endfor -%}
